
.imgpak{
  margin-top: 5rem;
  height: 45rem;
  background: url("https://64.media.tumblr.com/7bc0e510e42817ed6bf04a8f1dca28d1/tumblr_pkrqelQN7T1tuwbfjo1_1280.jpg");
  background-repeat: no-repeat ;
  background-size: cover;
  background-position: center;

}
.paksec{
  margin: 1px;
  height: 37rem;
  align-content: center;
  align-items:first baseline;
  background: rgb(96, 95, 93);
}
.packages{
  margin: 45px;
  height: 26rem;
  width: 25%;
  background: rgb(192, 166, 166);
  text-align: center;
  display: inline-block;
  box-shadow: 5px 5px 2px rgb(58, 61, 62);
  vertical-align: bottom;
  border-radius: 14px;
  transition: transform 0.2s ease;
}
.packages:hover{
  transform:scaleY(1.03)
}
.package-mid{
  margin: 45px;
  height: 28rem;
  width: 25%;
  background: rgb(192, 166, 166);
  text-align: center;
  display: inline-block;
  box-shadow: 5px 5px 2px rgb(58, 61, 62);
  border-radius: 14px;
  transition: transform 0.2s ease-in-out;
}
.package-mid:hover{
  transform:scaleY(1.04)
}
.pak-title{
  color: rgb(59, 58, 58);
  font-family:'Poppins', sans-serif;
}
.mem-features{
  margin: 53px;
  padding: 0px;

}
.mem-feat-list{
  padding: 3px;
  margin: 0px;

}
.sub-button{
  height: 35px;
  font-size: 1rem;
  width: 11rem;
  margin: 50px 0px 0px 0px; 
  padding: 6px;
  color: whitesmoke;
  background: rgb(35, 32, 32);
  border-radius: 10px;

}
.pakthird{
  height: 37rem;
  border: 1px solid black;
  background: rgb(96, 95, 93);

}
.pakthird-div{
  margin: 11px;
  height: 24rem;
  width: 23%;
  background: rgb(192, 166, 166);
  text-align: center;
  display: inline-block;
  box-shadow: 5px 5px 2px rgb(58, 61, 62);
  vertical-align: bottom;
  border-radius: 14px;
  transition: transform 0.2s ease-in-out;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.pakthird-div:hover{
  transform: scale(1.04);
}
.pakthird-div div{
  margin: 43px;
  padding: 9px;
  height: 5px;
  width: 5px;
}

.pakthird-div h5{
  margin: 20px;
  padding: 0px;
  font-size: 24px;
  line-height:  1.5rem;
  color: #64642b;
}
.pakthird-div p{
  margin: 31px;
  padding: 0px;
  font-size: 19px;
}
.icon{
  font-size: 2.5rem;
  display: block;
  margin-bottom: 1rem;
}