<header>
    <nav>
        <h1><a routerLink="/">READVERSE</a></h1>
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/categories">Categories</a></li>
            <li><a routerLink="/membership">Memberships</a></li>
            <li><a routerLink="/mybooks">My Books</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <!-- <li><a href="#">Profile</a></li> -->
        </ul>
        <button class="login-btn"><a routerLink="/login">login</a></button>
    </nav>
</header>